<div class="page soa">
    <div style='padding: 10px; font-size:15px;'>
    
    
        <div style='margin:auto;width:922px;padding-top:16px;'>
        <b>Knowledge Graph Embeddings</b>
        <div style='margin-top:8px;'>
        
            Pre-trained entity and relation embeddings using <b><a href='https://proceedings.neurips.cc/paper/2013/file/1cecc7a77928ca8133fa24680a88d2f9-Paper.pdf'
            target='_blank'>TransE</a></b> (Hyperparameters and detailed Evaluation are available in our <a href='https://github.com/davidlamprecht/linkedpaperswithcode/tree/main/embeddings-generation'target='_blank'>repository</a>): <b><a href='https://zenodo.org/records/10554617'target='_blank'>https://zenodo.org/records/10554617</a></b>

            <p></p>
    
            <li>Version v2: Pre-trained entity and relation embeddings for LPWC version v2</li>
            <li>Version v1: Pre-trained entity and relation embeddings for LPWC version v1</li>

            <p></p>
            
            Each Embedding Version contains:
            <pre> 
                <li>entity embeddings in csv format</li>
                <li>entity mappings for entity embedding file</li>
                <li>relation embeddings in csv format</li>
                <li>relation mappings for relation embedding file</li>
            </pre>
            
    
        </div>
        </div>
      


        
        

        
    
    