<div class="page soa">
    <div style='padding: 10px; font-size:15px;'>
  
  
      <div style='margin:auto;width:922px;padding-top:16px;'>
        <b>Contact</b>
        <div style='margin-top:8px;'>
          The system has been designed and implemented by Michael Färber<sup>1</sup> and David
          Lamprecht<sup>2</sup>.
          Feel free to submit bug reports and feature requests on <a href='https://github.com/davidlamprecht/linkedpaperswithcode/issues'target='_blank'>GitHub</a> and address questions and remarks via email to <a href='https://sites.google.com/view/michaelfaerber' target='_blank'>Michael Färber</a>
          (michael.faerber@tu-dresden.de).
        </div>
        <div style='margin-top:8px;'>
          <sup>1</sup>ScaDS.AI & TU Dresden, Dresden, Germany<br>
          <sup>2</sup>metaphacts GmbH, Walldorf, Germany
        </div>
  
      </div>
  
      <div style='margin:auto;width:922px;padding-top:16px;'>
        <b>License</b>
        <div style='margin-top:8px;'>
          The used data from <b><a href='https://github.com/paperswithcode/paperswithcode-data' target='_blank'>Papers with code datasets</a></b> is available under the <b><a href='https://creativecommons.org/licenses/by-sa/4.0/' target='_blank'>CC BY-SA 4.0 License</a></b>.
          <br>
          Linked Papers With Code (LPWC) is licensed under the <b><a href='https://creativecommons.org/licenses/by-sa/4.0/' target='_blank'>CC BY-SA 4.0 License</a></b>.
          


  
        </div>
  
      <div style='margin:auto;width:922px;padding-top:16px;'>
        <b>Code</b>
 
        <div style='margin-top:8px;'>
          The source code for creating Linked Papers With Code is available <a
            href='https://github.com/davidlamprecht/linkedpaperswithcode' target='_blank'>here</a>. It
          is licensed under the MIT License.
        </div>
  
      </div>

      <div style='margin:auto;width:922px;padding-top:16px;'>
        <b>Reference & More Information</b>
        <div style='margin-top:8px;'>
          More information about Linked Papers With Code can be found in our ISWC 2023 paper:
          <ul>
            <li>
              <b><a href='https://arxiv.org/pdf/2310.20475' target='_blank'>Linked Papers With Code: The Latest in Machine Learning as an RDF Knowledge Graph</a></b>
            </li>
          </ul>
        </div>
      </div>
  

  