[[!-- 
=============================================================================================================

██╗███╗░░░███╗██████╗░░█████╗░██████╗░████████╗░█████╗░███╗░░██╗████████╗
██║████╗░████║██╔══██╗██╔══██╗██╔══██╗╚══██╔══╝██╔══██╗████╗░██║╚══██╔══╝
██║██╔████╔██║██████╔╝██║░░██║██████╔╝░░░██║░░░███████║██╔██╗██║░░░██║░░░
██║██║╚██╔╝██║██╔═══╝░██║░░██║██╔══██╗░░░██║░░░██╔══██║██║╚████║░░░██║░░░
██║██║░╚═╝░██║██║░░░░░╚█████╔╝██║░░██║░░░██║░░░██║░░██║██║░╚███║░░░██║░░░
╚═╝╚═╝░░░░░╚═╝╚═╝░░░░░░╚════╝░╚═╝░░╚═╝░░░╚═╝░░░╚═╝░░╚═╝╚═╝░░╚══╝░░░╚═╝░░░

This file provides templates for the base functionality of the <semantic-search-query-universal> component
and we do not recommend to modify these templates, as they are shared by all components.
Modifications can result in functional and visual problems.

Customization of results can be applied in the Platform:SearchResultsCustomization template.

=============================================================================================================
--]]
<template-fragment export id='defaultStyle'>
  [[!--
    Note that it's not recommended to modify this fragment.
    Refer to the top of the page for more information.
  --]]
  <style>
    .search {
      display: grid;
    }
    .resultTemplate {
      display: grid;
    }
    .resultHeader {
      display: flex;
      align-items: center;
      padding-bottom: 8px;
      font-size: 16px;
      grid-area: 1;
    }
    a.resultHeader:hover {
      text-decoration: none;
    }
    a.resultHeader:hover .resultCount, 
    a.resultHeader:hover .SearchQueryUniversalExplanation--domain,
    a.resultHeader:hover .SearchQueryUniversalExplanation--entity {
      text-decoration: underline;
    }
    .loaded-counts-explanation ~ .loading-counts-explanation {
      display: none;
    }
    .resultCountInfo {
      color: var(--mp-color-info-500)
    }
    button:hover > .resultCountInfo {
      color: var(--mp-color-info-700)
    }
    .resultFooter {
      margin-top: 8px;
      margin-bottom: 16px;
    }
    .resultCount {
      flex-shrink: 0;
    }
    .table-no-result ~ .resultFooter, .table-no-result ~ .resultHeader {
      display: none;
    }
    .DataTable--footer {
      padding-top: 10px;
    }
    .domainSelectorAndFacets {
      display: flex;
      align-items: center;
      padding: 16px 0;
      gap: 8px;
    }
    .domainSelectorAndFacets > div:nth-child(2) {
      border-left: 1px solid var(--mp-color-primary-100);
      padding-left: 8px;
    }
    .SearchQueryUniversalDomainSelector--component {
      align-self: flex-start;
    }
    .searchTopMenu {
      display: flex;
      grid-area: 1;
      padding-bottom: 16px;
    }
    .mainButton {
      display: flex;
      gap: 8px;
      align-items: center;
      padding-right: 16px;
    }
    .mainButton .mp-icon {
      color: var(--mp-color-dark-500);
      --mp-icon-top: 1px;
    }
    .clearDomain {
      padding-left: 16px;
      border-left: 1px solid var(--mp-color-dark-100);
    }
    a.mainButton:hover, a.headline:hover, a.navigateToResourceBtn:hover {
      text-decoration: none;
    }
    a.mainButton:hover .mainButton--label, a.headline:hover .title {
      text-decoration: underline;
    }
    .search .separator::after {
      content: '|';
      color: var(--mp-color-dark-200);
      margin: 0 4px;
    }
    .search .SearchQueryUniversal--resourceItem:hover .separator::after {
      color: var(--mp-color-dark-400);
    }
    .resultKnowledgePanel {
      max-width: 400px;
    }
    .resultKnowledgePanel .popover-body {
      max-height: 60vh;
      overflow-y: auto;
    }
    .navigateToResourceBtn {
      display: none;
      padding-left: 8px;
    }
    .SearchCardResult--title:hover .navigateToResourceBtn {
      display: initial;
    }
    .saveSearchAsSet {
      margin-top: 8px;
    }
  </style>
</template-fragment>

<template-fragment export id='searchResultGroupTemplate' params='{
  "showExplorationFacets": {
    "required": false,
    "type":"boolean",
    "default": true,
    "description": "If enabled, facets will be shown when exploring all entities of a domain without further search conditions being formulated. Consider to disable this option to improve performance on large datasets with millions of entities."
  },
  "showDomainSelector": {
    "required": false,
    "type":"boolean",
    "default": true,
    "description": "If enabled, the domain selector will be shown in the search results for configured categories."
  },
  "showKnowledgePanel": {
    "required": false,
    "type": "boolean",
    "default": false,
    "description": "If enabled, the knowledge panel for a corresponding resource will be shown when clicking on the title of a search result item."
  },
  "showSaveSearchResultActions": {
    "required": false,
    "type": "boolean",
    "default": false,
    "description": "If enabled, the search result action \"Save Set\" will be shown when a domain is selected."
  }
}'>
  [[!--
    Note that it's not recommended to modify this fragment.
    Refer to the top of the page for more information.
  --]]
  <div class='domainSelectorAndFacets'>
    {{#if (cond-not hasConjuncts)}}
      {{#unless (cond-eq showDomainSelector false)}}
      <semantic-search-query-universal-domain-selector target='{{queryFormulationComponentId}}'></semantic-search-query-universal-domain-selector>
      {{/unless}}
    {{/if}}
    {{#if (cond-or (cond-neq showExplorationFacets false) keyword hasConjuncts)}}
      <semantic-search-facet-holder>
        <semantic-search-facet-group variant='horizontal'></semantic-search-facet-group>
      </semantic-search-facet-holder>
    {{/if}}
  </div>
  <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
  <semantic-search-result-holder>
    {{#if domain}}
      <semantic-search-result domain='{{domain.iri}}'>
        <div class='resultTemplate'>
          {{#> @partial-block category=domain selected=true searchKeyword=keyword}}
            {{> ::defaultResultsTemplate}}
          {{/@partial-block}}
        </div>
      </semantic-search-result>

      {{#if showSaveSearchResultActions}}
        {{>::search-result-save-set-action}}
      {{/if}}
      
    {{else}}
      {{#each categories as |category|}}
        <div class='resultTemplate'>
          <semantic-search-result domain='{{category.iri}}'>
            {{#> @partial-block category=category selected=false searchKeyword=../keyword searchId=../searchId queryFormulationComponentId=../queryFormulationComponentId hasConjuncts=../hasConjuncts limit=../limit}}
              {{> ::defaultResultsTemplate}}
            {{/@partial-block}}
          </semantic-search-result>
        </div>
        
      {{/each}}
    {{/if}}

   

  </semantic-search-result-holder>
</template-fragment>

<template-fragment id='search-result-save-set-action'>
  
  <div class='saveSearchAsSet'>
      <semantic-search-action-save-set-result id='save-set-result-action'>
        <button class="btn btn-outline-secondary">Save As Set</button>
      </semantic-search-action-save-set-result>
  </div>
 
</template-fragment>

<template-fragment export id='defaultResultsTemplate'>
  <semantic-table
    id='search-result-table'
    query='
      SELECT DISTINCT * WHERE {}
      {{#unless selected}}LIMIT 4{{/unless}}
    '
    options='{"showFilter": false}'
    tuple-template='{{> template}}'
    no-result-template='{{#if domain}}{{> ::noResultTemplate}}{{/if}}'
    class='SearchCardResult--table'
    prefetch-labels='false'
  >
    <template id='template'>
      {{#> Platform:SearchResultsCustomization::resultsTemplate}}
        {{#if (isIri subject)}}
          <div class='SearchCardResult--card'>
            <div class='SearchCardResult--contentWrapper'>
              <div class='SearchCardResult--title'>
                {{#if (cond-eq showKnowledgePanel true)}}
                  <mp-popover class='resultKnowledgePanel'>
                    <mp-popover-trigger placement='right' trigger='["click"]'>
                      <a class="headline" iri="{{subject.value}}">
                        <mp-highlight-label iri='{{subject.value}}' highlight='{{searchKeyword}}' split-token='true' class='title'></mp-highlight-label>
                      </a>
                    </mp-popover-trigger>
                    <mp-popover-content>
                      <div>
                        <mp-knowledge-panel iri='{{subject.value}}'></mp-knowledge-panel>
                      </div>
                    </mp-popover-content>
                  </mp-popover>
                  <semantic-link iri="{{subject.value}}" class='navigateToResourceBtn' title='Navigate to resource'>
                    <span class="material-symbols-outlined">link</span>
                  </semantic-link>
                {{else}}
                  <semantic-link iri="{{subject.value}}">
                    <mp-highlight-label iri="{{subject.value}}" highlight='{{searchKeyword}}' split-token='true'></mp-highlight-label>
                  </semantic-link>
                {{/if}}
              </div>
              {{> Platform:SearchResultsCustomization::entityInfo kind="results" iri=subject.value type=category.iri}}
            </div>
            <div class='SearchCardResult--buttons'>
              {{> ::addToSearchButton subject=subject.value}}
            </div>
          </div>
        {{else}}
          <div class='SearchCardResult--card'>
            <div class='SearchCardResult--contentWrapper'>
              <div class='SearchCardResult--title'>
                {{subject.value}}
              </div>
            </div>
          </div>
        {{/if}}
      {{/Platform:SearchResultsCustomization::resultsTemplate}}
    </template>
  </semantic-table>
  {{> ::searchResultsHeader}}
  {{> ::searchResultsFooter}}
</template-fragment>

<template-fragment export id="noResultTemplate">
  <div class='SearchQueryUniversal--noResultTemplate'>
    <div class='material-symbols-outlined SearchQueryUniversal--noResultTemplateIcon' aria-hidden="true">
      hide_source
    </div>
    <div class='SearchQueryUniversal--noResultTemplateTitle'>
      {{#if latestSearchTerm}}
        No results for “{{latestSearchTerm}}”
      {{else}}
        No results for your criteria
      {{/if}}
    </div>
    <div>
      {{#if latestSearchTerm}}
        Consider rephrasing or clearing your search
      {{else}}
        Consider revising or clearing your search
      {{/if}}
    </div>
    <mp-event-trigger type='UniversalSearch.ClearSearch' targets='["{{queryFormulationComponentId}}"]'>
      <button class='btn btn-sm btn-outline-danger SearchQueryUniversal--noResultTemplateButton'>
        Clear search
      </button>
    </mp-event-trigger>
  </div>
</template-fragment>

<template-fragment export id="addToSearchButton">
  {{#if (cond-not hasConjuncts)}}
    <mp-event-trigger
      type='UniversalSearch.ShowRelated' targets='["{{queryFormulationComponentId}}"]' data='{"entityIris": ["{{subject}}"]}'>
        <button class='btn btn-link btn-unsized SearchCardResult--rightArrowButton'>
          Explore related
        </button>
    </mp-event-trigger>
  {{/if}}
</template-fragment>

<template-fragment export id='searchResultsHeader'>
  {{#if selected}}
    <div class='resultHeader selected'>
      {{> ::searchResultsHeaderInner}}
    </div>
  {{else}}
    <mp-event-trigger
      type='UniversalSearch.SelectDomain'
      targets='["{{queryFormulationComponentId}}"]'
      data='{"domainIri": "{{category.iri}}"}'>
      <a href='#' class='resultHeader'>
        {{> ::searchResultsHeaderInner}}
      </a>
    </mp-event-trigger>
  {{/if}}
</template-fragment>

<template-fragment id='searchResultsHeaderInner'>
  <div class='resultHeader {{#if (cond-eq selected true)}}selected{{/if}}'>
    {{#if selected}}
      <semantic-search-result-count result-id='search-result-table'
        template='{{> counts}}'>
        <template id='counts'>
          <div class='resultCount'>
            {{#if (cond-gte numberOfResults limit)}}
              {{number-format limit locale='en' notation='compact' compactDisplay='long'}}+
            {{else}}
              {{number-format numberOfResults locale='en'}}
            {{/if}}
            {{#if (cond-eq numberOfResults 1)}}
              result in&nbsp;
            {{else}}
              results in&nbsp;
            {{/if}}
          </div>
          <div class='loaded-counts-explanation'>
            <semantic-search-query-universal-explanation domain-iri='{{category.iri}}'>
            </semantic-search-query-universal-explanation>
          </div>
          {{#if (cond-gte numberOfResults limit)}}
            <div>
              &nbsp;<mp-popover>
                <mp-popover-trigger placement="top"
                  trigger='["click", "hover", "focus"]'
                  root-close='false'>
                  <button class="btn btn-sm btn-icon btn-transparent">
                      <span class="material-symbols-outlined resultCountInfo">info</span>
                    </button>
                </mp-popover-trigger>
                <mp-popover-content>Only the first {{number-format limit locale='en' notation='compact' compactDisplay='long'}} results are shown</mp-popover-content>
              </mp-popover>
            </div>
          {{/if}}
        </template>
      </semantic-search-result-count>
    {{else}}
      <mp-sparql-result-counts
        id='result-counts'
        query='SELECT DISTINCT * {}'
        hard-limit='{{number-add limit 1}}'
        template='{{> counts}}'>
        <template id='counts'>
          <div class='resultCount'>
            {{#if (cond-gte numberOfResults limit)}}
              {{number-format limit locale='en' notation='compact' compactDisplay='long'}}+
            {{else}}
              {{number-format numberOfResults locale='en'}}
            {{/if}}
            {{#if (cond-eq numberOfResults 1)}}
              result in&nbsp;
            {{else}}
              results in&nbsp;
            {{/if}}
          </div>
          <div class='loaded-counts-explanation'>
            <semantic-search-query-universal-explanation domain-iri='{{category.iri}}'>
            </semantic-search-query-universal-explanation>
          </div>
          {{#if (cond-gte numberOfResults 10000)}}
            <div>
              &nbsp;<mp-popover>
                <mp-popover-trigger placement="top"
                  trigger='["click", "hover", "focus"]'
                  root-close='false'>
                  <button class="btn btn-sm btn-icon btn-transparent">
                      <span class="material-symbols-outlined resultCountInfo">info</span>
                    </button>
                </mp-popover-trigger>
                <mp-popover-content>Only the first {{number-format limit locale='en' notation='compact' compactDisplay='long'}} results are shown</mp-popover-content>
              </mp-popover>
            </div>
          {{/if}}
        </template>
      </mp-sparql-result-counts>
    {{/if}}
    <div class='loading-counts-explanation'>
      <semantic-search-query-universal-explanation domain-iri='{{category.iri}}'>
      </semantic-search-query-universal-explanation>
    </div>
  </div>
</template-fragment>

<template-fragment export id='searchResultsFooter'>
  {{#if (cond-neq selected true)}}
    <div class='resultFooter'>
      <mp-event-trigger
        type='UniversalSearch.SelectDomain'
        targets='["{{queryFormulationComponentId}}"]'
        data='{"domainIri": "{{category.iri}}"}'>
        <button class='btn btn-link btn-unsized SearchCardResult--rightArrowButton SearchCardResult--viewAllButton'>
          View all
        </button>
      </mp-event-trigger>
    </div>
  {{/if}}
</template-fragment>

<template-fragment export id='startButton'>
  [[!--
    Note that this fragment is not supposed to be modified.
    Refer to the top of the page for more information.
  --]]
  <mp-event-trigger
    type='UniversalSearch.ClearSearch'
    targets='["{{queryFormulationComponentId}}"]'>
    {{#if (cond-or domain hasConjuncts keyword)}}
      <a href='#' class='mainButton'>
        <span class='mp-icon' aria-hidden='true'>main_search</span>
        <span class='mainButton--label'>Start</span>
      </a>
    {{else}}
      <div class='mainButton'>
        <span class='mp-icon' aria-hidden='true'>main_search</span>
        <span class='mainButton--label'>Start</span>
      </div>
    {{/if}}
  </mp-event-trigger>
</template-fragment>

<template-fragment export id='clearDomain'>
  [[!--
    Note that this fragment is not supposed to be modified.
    Refer to the top of the page for more information.
  --]]
  {{#if (cond-and keyword domain)}}
    <mp-event-trigger
      type='UniversalSearch.ClearDomain'
      targets='["{{queryFormulationComponentId}}"]'>
      <a href='#' class='clearDomain'>All results for {{keyword}}</a>
    </mp-event-trigger>
  {{/if}}
</template-fragment>

<template-fragment export id='domainCards'>
  [[!--
    Note that it's not recommended to modify this fragment.
    Refer to the top of the page for more information.
  --]]
  {{#if showDomains}}
    <div class='SearchQueryUniversal--domainCards'>
      <div data-flex-layout='rows stretch-stretch'>
        {{#bind showThumbnail=(bind
          (with thumbnails=(array-filter domains (func domain domain.thumbnail)))
          (cond-gt thumbnails.length 0)
        )}}
          {{#each domains}}
            {{#ifCond count "||" ../loadingCounts}}
              <div data-flex-self='size-1of5 md-half sm-full' class='SearchQueryUniversal--domainCardItem'>
                <mp-event-trigger
                  type='UniversalSearch.SelectDomain'
                  targets='["{{../componentId}}"]'
                  data='{"domainIri": "{{iri}}"}'>
                  {{> ::domainCard showThumbnail=../showThumbnail specificSearchExecuted=../specificSearchExecuted loadingCounts=../loadingCounts}}
                </mp-event-trigger>
              </div>
            {{/ifCond}}
          {{/each}}
        {{/bind}}
      </div>
    </div>
  {{/if}}
</template-fragment>

<template-fragment export id='domainCard'>
  [[!--
    Note that it's not recommended to modify this fragment.
    Refer to the top of the page for more information.
  --]]
  {{#> Platform:SearchResultsCustomization::domainCard}}
    <button type=button class='btn btn-secondary SearchQueryUniversal--domainCard {{#if selected}}SearchQueryUniversal--domainCardSelected{{/if}}'>
      {{> ::domainCardThumbnail}}
      {{> ::domainCardLabel}}
      {{> ::domainCardCount}}
    </button>
  {{/Platform:SearchResultsCustomization::domainCard}}
</template-fragment>

<template-fragment export id='domainCardThumbnail'>
  [[!--
    Note that it's not recommended to modify this fragment.
    Refer to the top of the page for more information.
  --]]
  {{#if showThumbnail}}
    <span class='SearchQueryUniversal--domainThumbnail'>
      {{#if thumbnail}}
        <img src='{{thumbnail}}' alt='{{label}}' />
      {{else}}
        <span class='material-symbols-outlined'>grid_guides</span>
      {{/if}}
    </span>
  {{/if}}
</template-fragment>

<template-fragment export id='domainCardLabel'>
  [[!--
    Note that it's not recommended to modify this fragment.
    Refer to the top of the page for more information.
  --]]
  <span class='SearchQueryUniversal--domainLabel'>{{label}}</span>
</template-fragment>

<template-fragment export id='domainCardCount'>
  [[!--
    Note that it's not recommended to modify this fragment.
    Refer to the top of the page for more information.
  --]]
  {{#if count}}
    <span class='SearchQueryUniversal--domainCount'>
      <span class='badge badge-secondary'>
        {{#if specificSearchExecuted}}
          {{#if (cond-gte count 10000)}}
            {{number-format count locale='en' notation='compact' compactDisplay='long'}}+
          {{else}}
            {{number-format count locale="en"}}
          {{/if}}
        {{else}}
          {{#if (cond-gte count 10000)}}
            ~{{number-format count locale="en" notation="compact" compactDisplay="long"}}
          {{else}}
            {{number-format count locale="en"}}
          {{/if}}
        {{/if}}
      </span>
    </span>
  {{/if}}
  {{#if loadingCounts}}
    <span class='SearchQueryUniversal--domainCount'>
      <span class='badge badge-secondary spinner-dots'>
        <span>.</span><span>.</span><span>.</span>
      </span>
    </span>
  {{/if}}
</template-fragment>